<!--

<p> <label> adjective <input type= "text" ng-model="libs.adj"/> </label> </p>
<p> <label> Noun <input type= "text" ng-model="libs.noun"/> </label> </p>
<p> <label> verb <input type= "text" ng-model= "libs.verb"/> </label> </p>
<p> <label> number <input type= "number" ng-model ="libs.num"/> </label> </p>
<p> <label> color <input type= "text" ng-model = "libs.color"/> </label> </p>
<p> <label> verb <input type= "text" ng-model ="libs.verb2"/> </label> </p>
<p> <label> noun <input type= "text" ng-model = "libs.noun2"/> </label> </p>


<button type="button" ng-click= "libName(libs)"> Lib It Up</button>
-->
